// Note: currently assumes that you are compiling with Xcode 3.2 on OS 10.6
// Also assumes that you have done a 'custom' install of Xcode 3.2 and manually chosen to install the OS 10.4 SDK

//SDKROOT[arch=ppc] = /Developer/SDKs/MacOSX10.4u.sdk
SDKROOT = /Developer/SDKs/MacOSX10.6.sdk

//GCC_VERSION[arch=ppc] = 4.0
GCC_VERSION = com.apple.compilers.llvmgcc42

MACOSX_DEPLOYMENT_TARGET = 10.6
MODULE_VERSION = 1.6.2
